// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
body{
	font-size: 14px; 
	font-family: $text-font-stack;
}
div{
	vertical-align: top;
}
ul{
	list-style-type: none;
	margin: 0;
  padding: 0;
  display: inline-block;
}
input{
	padding: 7px 10px;
	border-radius: 5px;
  border: 1px solid $gray; 
}
.container{
	width: 80%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row{
	width: 100%;
	box-sizing: border-box;
}
.active{
	color: $blue-darkest! important;
}
.text-italic{
	font-style: italic;
}
.left{
	float: left;
}
.right{
	float: right;
}
.link{
	color: $black;
	text-decoration: none;
	&:hover{
		color: $blue;
	}
}
.col-4{
	width: 33.33%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-8{
	width: 66.67%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.hidden{
	display: none !important;
}
.white {
	background: $white !important;
}
.white-light{
	background: $white-light !important;
}
.black{
	background: $black !important;
}
.black-light{
	background: $black-light !important;
}
.yellow{
	background: $yellow !important;
}
.blue{
	background: $blue !important;
}
.blue-dark{
	background: $blue-dark !important;
}
.blue-darkest{
	background: $blue-darkest !important;
}
.blue-light{
	background: $blue-light !important;
}
.blue-lightest{
	background: $blue-lightest !important;
}
.gray{
	background: $gray !important;
}
.gray-lightest{
	background: $gray-lightest !important;
}
.gray-light{
	background: $gray-light !important;
}
.green{
	background: $green !important;
}
.voilet{
	background: $voilet !important;
}
.red{
	background: $red !important;
}
.orange{
	background: $orange !important;
}
