/**
 * Include font-face fonts here.
 */

@font-face {
		font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css?family=Montserrat');
}

