// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Clear inner floats
 */
%clearfix {
  &:after {
      content: "";
      display: table;
      clear: both;
  }
}
