// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.content{

}
.dashboard{
	margin: 15px 50px;
  opacity: 1;
  background-image: linear-gradient(to left, $blue-lightest, $blue-light);
  background-color: $blue-light;
	border-radius: 5px; 
  width: 50%;
  height: 400px;
}
.heading{
	color: $blue;
	padding: 10px 30px;
	margin: 0;
}
.timer{
	padding: 10px 30px! important;
	font-weight: bold;
	color: $blue;
	margin: 0;	
}
.grid-container{
	 margin: 20px 40px;
	 display: inline-block;
	.grid{
		border: 2px solid $gray;
		width: 70px;
		height: 70px;
		display: inline-block;
		background: $white;
		@include fade();
		&:nth-child(4n+4){
			// display: block;
		}
		&.transparent{
			background: $background-color !important;
			opacity: 0.5;
		}
	}
}
.result-container{
	display: inline-block;
	.result{
		font-size: 24px;
		font-weight: bold;
		width: 100%;
		text-align: center;	
	}
	.win{
		color: $green;
	}
	.lost{
		color: $red;
	}
}
.score-card{
	display: flex;
  padding: 0px 40px;
  .level{
  	font-size: 18px;
  	color: $blue;
  	margin: 5px;
  	font-weight: bold;
  }
  .score{
  	font-size: 18px;
  	margin: 5px;
  	color: $blue;
  	font-weight: bold;
  }
}
.count{
	color: $voilet;
	padding: 2px 15px;
	background: $gray-light;
	border-radius: 5px; 
}
.play-again{
    text-decoration: none;
    background: $gray-light;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
}